orm-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
  outline: none;
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.email_list {
  display: flex;
}

.email_background {
  width: 100vw;
  z-index: 0;
  position: relative;
}

.email_form {
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: 10vw;
  margin-left: 6vw;
  line-height: 6vw;
}

.email_text_head_1 {
  font-size: 8vw;
}

.email_text_head_2 {
  font-size: 3vw;
  margin-left: 1vw;
  margin-top: 1vw;
  font-weight: normal;
}

.email_form_input {
  display: flex;
  size: 2vw;
  margin-left: 1vw;
  margin-top: 4vw;
}

.email_input {
  height: 5vw !important;
}

.email-form-button {
  color: black !important;
  background-color: white !important;
  border-color: transparent !important;
  height: 4vw !important;
  width: 7vw !important;
  font-size: 1.2vw !important;
}

.email-input {
  color: white !important;
  background-color: transparent !important;
  border-color: transparent !important;
  height: 4vw !important;
  width: 28vw !important;
  font-size: 2vw !important;
  border-bottom: 0.2vw solid white !important;
}