.email_list {
  display: flex;
}

.email_background {
  width: 100vw;
  z-index: 0;
  position: relative;
}

.email_form {
  color: white;
  position: absolute;
  z-index: 1;
  margin-top: 7vw;
  margin-left: 5vw;
  line-height: 6vw;
}

.email_text_head_1 {
  font-size: 9vw;
  font-style: italic;
}

.email_text_head_2 {
  font-size: 3vw;
}

.email_text_head_3 {
  font-size: 2vw;
  line-height: 2vw;
}

.email_form_input {
  display: flex;
  size: 2vw;
}

.email-input-button {
  color: black;
  background-color: white;
  border-color: rgb(250, 255, 208);
  height: 5vw;
}

.email-input {
  height: 5vw;
  width: 45vw;
  background: transparent;
  color: white;
  border-color: transparent;
}