.landing {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
}

.intro-words {
  color:white;
  margin-top: 1vw;
  margin-left: 0.5em;
  font-size: 7vw;
  font-weight: bolder;
  z-index: 1;
  position: absolute;
}

.intro-2 {
  margin-left: 1em;
}

.intro-3 {
  margin-left: 2em;
  font-size: 1.25em;
  color:rgb(250, 255, 208);
}

.intro-3 {
  margin-left: 1.75em;
  font-size: 1.25em;
  color:rgb(250, 255, 208);
}

.intro-4 {
  margin-left: 4em;
  font-size: 1.25em;
  color:rgb(250, 255, 208);
}

.intro-5 {
  margin-top: 0.3em;
  margin-left: 8em;
}

.intro-video-1 {
  z-index: 0;
  position: relative;
  width: 100vw;
}